.header{
    height: 10vh;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.myMain{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}